<table mat-table [dataSource]="trades??[]" class="mat-elevation-z8">
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
    </ng-container>
  
    <ng-container matColumnDef="contract">
      <th mat-header-cell *matHeaderCellDef> Contract </th>
      <td mat-cell *matCellDef="let element"> {{element.contract}} </td>
    </ng-container>
  
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price | currency:'£'}} </td>
    </ng-container>
  
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Position </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <ng-container matColumnDef="newTradeAction">
        <th mat-header-cell *matHeaderCellDef> New Trade Action </th>
        <td mat-cell *matCellDef="let element"> {{element.newTradeAction}} </td>
    </ng-container>

    <ng-container matColumnDef="pnlDaily">
        <th mat-header-cell *matHeaderCellDef> Pnl Daily</th>
        <td mat-cell *matCellDef="let element"> {{element.pnlDaily | currency:'£'}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>